<div class="camera-layout" *ngIf="mainFeed as feed">
  <div class="main-feed">
    <div class="video-wrapper">
      <ng-container *ngIf="feed.streamUrl; else placeholder">
        <ng-container [ngSwitch]="feed.renderMode">
          <ng-container *ngSwitchCase="'image'">
            <img [src]="feed.streamUrl" alt="{{ feed.name }}" [ngStyle]="rotationStyle(feed)" />
          </ng-container>
          <ng-container *ngSwitchCase="'proxied-image'">
            <app-stream-bridge
              [src]="feed.streamUrl || ''"
              [rotationDegrees]="feed.rotationDegrees"
            ></app-stream-bridge>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <video
              [src]="feed.streamUrl"
              autoplay
              muted
              playsinline
              [ngStyle]="rotationStyle(feed)"
            ></video>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-template #placeholder>
        <div class="video-placeholder">{{ feed.placeholder || feed.name }}</div>
      </ng-template>
      <div class="rec-indicator" *ngIf="recActive">
        <span class="dot"></span>
        REC
      </div>
    </div>
    <div class="caption">
      <strong>{{ feed.name }}</strong>
      <span>Live</span>
    </div>
  </div>
  <div class="secondary-column" *ngIf="secondaryFeeds?.length">
    <app-camera-feed
      *ngFor="let alt of secondaryFeeds | slice:0:2"
      [feed]="alt"
      (activate)="handleSelect($event)"
    ></app-camera-feed>
  </div>
</div>
